--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
sqlalchemy
python-dotenv
ultralytics
opencv-python-headless
pandas
requests
pydantic
jinja2
python-multipart
scikit-learn
torch
torchvision
numpy
Pillow
folium
streamlit-folium
streamlit
httpx
email-validator
