fastapi
uvicorn
sqlalchemy
python-dotenv
ultralytics
opencv-python-headless
pandas
requests
pydantic
jinja2
python-multipart
scikit-learn
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
numpy
Pillow
folium
streamlit-folium
streamlit
