fastapi
uvicorn
sqlalchemy
python-dotenv
opencv-python-headless
pandas
requests
pydantic
jinja2
python-multipart
scikit-learn
numpy
Pillow
httpx
email-validator
streamlit
plotly
streamlit-option-menu
altair
